In [4]:
import requests

url = 'https://openapi-0119.onrender.com/pico_w/?count=2'

r = requests.get(url=url)

if r.status_code == 200:
    print("下載成功")
    data = r.json()

print(data)

下載成功
[{'date': '2024-1-25 8:52:5', 'address': 'chicken_KFC', 'temperature': 27.98069, 'light': 10626.0}, {'date': '2024-1-25 8:52:9', 'address': 'chicken_KFC', 'temperature': 27.98069, 'light': 12307.0}]

In [5]:
import pandas as pd
pd.DataFrame(data)

               date      address  temperature    light
0  2024-1-25 8:52:5  chicken_KFC     27.98069  10626.0
1  2024-1-25 8:52:9  chicken_KFC     27.98069  12307.0